//- _paginate.jade

//- This examples makes use of Bootstrap 3.x pagination classes

if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  #pagination.pagination
    ul
      if paginate.hasPreviousPages
        li.previous
          a(href=paginate.href(true)).prev
            |  Previous
      if paginate.hasNextPages(pageCount)
        li.next
          a(href=paginate.href()).next
            | Next&nbsp;