body{
    font-family: "acne","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8em;
    color: #424242;
    -webkit-font-smoothing: antialiased;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 75px;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 1px 5px #ddd;
}
.header-link {
    position: relative;
    height: 20px;
    width: 100%;
    top: -55px;
    left: 160px;
}
.header-link .create-link, .header-link .browse-link:hover, .header-link:hover .browse-link{
    color: #ed1c24;
}
.header-link .browse-link, .header-link .create-link:hover, .header-link:hover .create-link{
    color: #00adef;
}
.create-link{
    margin: 0 10px;
}
.header .sdm-logo{
    width: 150px;
}
.header hr {
    width: 200px;
    position: absolute;
    left: -5px;
    top: 15px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(237, 28, 36, 0.8), rgba(0, 173, 239, 0.8), rgba(0, 0, 0, 0));
    height: 1px;
    margin: 0.5em auto;
}
.header-link:hover hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 173, 239, 0.8), rgba(237, 28, 36, 0.8), rgba(0, 0, 0, 0));
}
.content{
	position: relative;
	top: 100px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 800px;
    padding-bottom: 30px;
}
p{
	text-align: justify;
}
.footer{
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
}
.footer a{
    font-size: 0.7em;
    margin: 0 10px;
    float: right;
    color: #00adef;
}
.footer a:hover{
    color: #ed1c24;
}