body{
    font-family: "acne","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #424242;
    -webkit-font-smoothing: antialiased;
}
h1{
    font-size: 1.5em;
    font-weight: 300;
    color: #424242;
}
h2.by-sdm{
    color: red;
    font-size: 1em;
    font-weight: 200;
    margin-top: -10px;
}
ul{
    padding: 0;
    list-style: none;
}
li{
    text-decoration: none;
    list-style-type: none;
}
a, a:visited{
    text-decoration: none;
    color: #424242;
}
a.ssk, a:visited.ssk{
    color: #eee;
}
.content{
    position: relative;
    top: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 800px;
    padding-bottom: 30px;
    font-size: 0.8em; 
}
.content p{
    text-align: justify;
}
.content h1{
    font-size: 2em;
}
.content a{
    margin: 0 4px;
    color: #00adef;
}
.content a:hover{
    color: #ed1c24;
}
.content ul
{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 40px;
}

.content li
{
    display: list-item;
    list-style-type: disc!important;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 75px;
    padding: 10px;
    z-index: 10;
    background-color: #fff;
    box-shadow: 0px 1px 5px #ddd;
}
.header-link {
    position: relative;
    height: 20px;
    width: 100%;
    top: -55px;
    left: 160px;
}
.header-link .create-link, .header-link .browse-link:hover, .header-link:hover .browse-link{
    color: #ed1c24;
}
.header-link .browse-link, .header-link .create-link:hover, .header-link:hover .create-link{
    color: #00adef;
}
.create-link{
    margin: 0 10px;
}
.header .sdm-logo{
    width: 150px;
}
.header hr {
    width: 200px;
    position: absolute;
    left: -5px;
    top: 15px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(237, 28, 36, 0.8), rgba(0, 173, 239, 0.8), rgba(0, 0, 0, 0));
    height: 1px;
    margin: 0.5em auto;
}
.header-link:hover hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 173, 239, 0.8), rgba(237, 28, 36, 0.8), rgba(0, 0, 0, 0));
}
.memes-container h1{
    color: #00adef;
}
.memes-container h1:hover{
    color: #ed1c24 ;
}
.meme-title, .meme-title:visited{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 200;
    color: #424242;
    /*padding: 20px 0;*/
}
.meme-title:hover, .meme-title:focus, .meme-li:hover .meme-title{
    color: #00adef;
    transition: all 0.3s ease 0.1s;
}
.meme-creator-date {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.8em;
    margin: 12px 0;
}
.meme-li:hover .meme-createdAt{
    color: #ed1c24;
}
.meme-createdAt {
    font-size: 0.8em;
    /*min-width: 150px;*/
    text-align: left;
}
.p8em{
    font-size: 0.8em;
    margin: 0 3px;
    text-align: center;
}
.memeone .p8em{
    font-size: 1em;
}
.memeone .meme-createdAt {
    font-size: 1em;
}
.memeone .meme-creator-name{
    font-size: 1em;
}
.memeone:hover .meme-creator-name, .memeone:hover .meme-createdAt{
    color: #ed1c24;
}
.meme-li hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    margin-bottom: 35px;
    margin-top: 20px;
}
.tag-list li, .pagination li{
    display: inline;
}
.tag-name{
    font-size: 0.8em;
    border: 1px solid #cccccc;
    padding: 4px;
    margin: 4px;
    background-color: white;
    color: #424242;
    white-space: nowrap;
}
.tag-name:hover, .meme-li:hover .tag-name{
    color: #111;
    border: 1px solid #999;
    transition: all 0.3s ease 0.1s;
}
.comment {
    display: inline-block;
    font-size: 0.8em;
    width: 80px;
    text-align: right;
}
.comment:hover, .comment:focus, .meme-li:hover .comment{
    color: #ed1c24;
    transition: all 0.3s ease 0.1s;
}
.comment-tag {
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.meme-li:hover .meme-img{
    border: 1px solid #111;
    transition: all 0.3s ease 0.1s;
}

.meme-img{
    border: 1px solid #424242;
}
.bold-text{
    font-weight: 600;
}
.ssk.ssk-download:before{
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif !important;
    content: "Download";
    cursor: pointer;
}
.ssk.ssk-download{
    float: right;
}
.ssk.ssk-text.ssk-sm, .ssk-sm>.ssk.ssk-text{
    font-size: 12px!important;
}
.ssk.ssk-sm:before, .ssk-sm>.ssk:before, .ssk.ssk-sm .glyphicon, .ssk-sm>.ssk .glyphicon, .ssk.ssk-sm .fa, .ssk-sm>.ssk .fa{
    font-size: 14px!important;
}
div.tag-list{
    height: 30px;
    overflow: auto;
    display: inline-block;
}
.tag-list ul{
    margin-top: 5px;
}
.pagination .previous{
    float: left;
}
.pagination .next{
    float: right;
}
.view-all-link{
    float: right;
}
.oblique{
    font-style: oblique;
}
span.oblique{
    color: #ed1c24;
}
span.oblique:hover{
    color: #00adef;
}
.pagination ul{
    height: 20px;
    margin-bottom: 30px;
}
.footer{
    position: fixed;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
}
.footer a{
    font-size: 0.7em;
    margin: 0 10px;
    float: right;
    color: #00adef;
}
.footer a:hover{
    color: #ed1c24;
}
.daddy-container{
    display: flex;
    margin: 100px 250px;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}
.memes-container, .pagination{
    width: 60%;
}
.hotmemes h2{
    font-size: 1em;
    margin: 5px 0;
    font-weight: 200;
    color: #00adef;
}
.hotmemes h2:hover{
    color: #ed1c24;
}
div#hotmemes {
    position: fixed;
    top: 50px;
    right: 40px;
    width: 220px;
    margin: 80px 10px;
    height: 700px;
    overflow: hidden;
}
div#hotmemes ul{
    height: 80%;
    overflow: auto;
    padding: 10px;
    border: 1px solid #eee;
}
img.hot-meme-img {
    width: 200px;
}
.hot-meme-title {
    font-size: 0.8em;
    margin: 3px 0;
}
.hot-meme-creator{
    font-size: 0.8em;
}
.hot-meme-li:hover .hot-meme-title{
    color: #00adef ;
}
.hot-meme-li:hover .hot-meme-creator{
    color: #ed1c24;
}
.meme-holder{
    margin: 10px auto;
}
.private-meme-title {
    padding: 2px;
    color: #ed1c24;
    font-size: 0.9em;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.login-button img{
    width: 70px;
}
.meme-li:hover .private-meme-title {
    color: #00adef;
    background-color: white;
    transition: all 0.3s ease 0.1s;
}
.profile-fb-photo {
    width: 70px;
    height: 70px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #00adef;
}
.user-profile {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
.profile-fb-details {
    margin: 5px 10px; 
}
.user-profile:hover .profile-fb-photo{
    border: 1px solid #ed1c24;
}
.user-profile:hover h1{
    color: #ed1c24;
}
.meme-creator{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
.meme-creator-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
}
.meme-creator-name{
    display: inline-block;
    margin-left: 5px;
    font-size: 0.8em;
}
.meme-li:hover .meme-creator-name{
    color: #ed1c24;
}
/*.header{
    background-color: rgba(255,255,255,0);
    box-shadow: none;
}*/
.meme-img{
    width: 100%;
}
.toptags{
    position: fixed;
    top:150px;
    left: 50px;
    width: 200px;
    overflow-x: hidden;
}
.toptags a{
    position: relative;
    text-align: left;
    display: inline-block;
    white-space: nowrap;
    font-size: 0.8em;
    line-height: 1.53846em;
}
.toptags a:hover{
    outline: 0;
    color: #000;
}
.toptags a:hover:after{
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 1px solid #000;
}
.space-above{
    margin-top: 40px;
}
.like-share{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}
.ssk-group{
    margin-left: 10px;
    width: 100%;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    opacity: 1;
    z-index: 999;
    display: none;
}
.report-abuse{
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 45%;
    height: 275px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    padding: 30px;
}
.report-abuse .hidden{
    display: none;
}
.report-abuse .opt{
    padding: 2px;
}
.report-abuse input.opt-radio {
    margin: 0 7px;
}
.report-abuse span.opt-text {
    margin: 0 2px;
}
.report-abuse span.opt-text {
    margin: 0 2px;
}
.report-abuse input.textbox {
    margin: 6px 7px;
    height: 20px;
    width: 80%;
    font-size: 0.8em;
}
.report-abuse input.submit {
    width: 80px;
    min-height: 32px;
    display: block;
    background-color: #00adef;
    border-radius: 8px;
    margin: 6px 8px;
    cursor: pointer;
    -webkit-appearance: none;
    box-sizing: content-box;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    border: none;
}
}
input.submit:hover{
    background-color: #33adff;
}
.report-abuse .close {
    position: absolute;
    top: 7px;
    right: 14px;
    font-size: 1.5em;
    color: black;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.report-abuse .close:hover{
    background-color: #424242;
    color: #fff;
}
.report-abuse-link{
    margin: 0 10px;
    cursor: pointer;
}
.report-abuse-status{
    font-size: 1em;
    display: none;
    text-align: center;
}
.report-abuse-status p{
    text-align: center;
    padding: 4px;
}
@media screen and (min-width: 900px) and (max-width: 1250px) and (min-device-width: 1250px){
    div#hotmemes {
        right: 20px;
        width: 170px;
        margin: 80px 10px;
    }
    img.hot-meme-img {
        width: 150px;
    }
    .toptags{
        left: 20px;
        width: 150px;
    }
    .daddy-container{
        margin: 100px 200px;    
    }
    .memes-container, .pagination{
        width: 90%;
    }
}
@media screen and (min-width: 700px) and (max-width: 900px), screen and (min-device-width: 320px) and (max-device-width: 1200px){ 
    img.hot-meme-img {
        width: 150px;
    }
    .daddy-container{
        margin: 100px 200px; 
        margin-left: 10px;   
    }
    .memes-container, .pagination{
        width: 90%;
    }
    .fixed-elems{
        position: fixed;
        top: 100px;
        margin: 10px;
        right: 20px;
        height: 80%;
        width: 150px;
    }
    div#hotmemes {
        width: 170px;
        position: relative;
        top: 0;
        right: 0;
        height: 50%;
        margin: 0 auto;
        overflow-y: hidden;
    }
    div#hotmemes ul, .toptags ul{
        height: 80%;
        overflow-y: auto; 
    }
    .toptags {
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 10px auto;
        overflow: hidden;
        height: 40%;
    }
    .ssk.ssk-download{
        float: none;
    }

}
@media screen and (max-width: 700px) and (min-width: 550px){
    img.hot-meme-img {
        width: 150px;
    }
    .hot-meme-creator{
        display: none;
    }
    .daddy-container{
        margin: 100px 200px; 
        margin-left: 10px;   
    }
    .memes-container, .pagination{
        width: 90%;
    }
    .fixed-elems{
        position: fixed;
        top: 100px;
        margin: 10px;
        right: 20px;
        height: 80%;
        width: 150px;
    }
    div#hotmemes {
        width: 170px;
        position: relative;
        top: 0;
        right: 0;
        height: 50%;
        margin: 0 auto;
        overflow-y: hidden;
    }
    div#hotmemes ul, .toptags ul{
        height: 80%;
        overflow-y: auto; 
    }
    .toptags {
        width: 150px;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        margin: 10px auto;
        overflow: hidden;
        height: 40%;
    }
    .ssk.ssk-download{
        float: none;
    }
    a.ssk.ssk-twitter.ssk-text, a.ssk.ssk-google-plus.ssk-text, a.ssk.ssk-email.ssk-text {
        display: none;
    }
}
@media screen and (max-width: 550px), screen and (max-device-width: 319px){
    .daddy-container{
        margin: 100px 10px; 
    }
    .hot-meme-creator{
        display: none;
    }
    .memes-container, .pagination{
        width: 90%;
    }
    .fixed-elems{
        display: none;
    }
    div#hotmemes {
        position: relative;
        display: none;
    }
    .toptags {
        position: relative;
        display: none;
    }
    .ssk.ssk-download{
        float: none;
    }
    a.ssk.ssk-twitter.ssk-text, a.ssk.ssk-google-plus.ssk-text, a.ssk.ssk-email.ssk-text {
        display: none;
    }
}
@media screen and (max-width: 1000px){
    .content{
        width: 80%;
    }
}