
<!DOCTYPE html>
<html ng-app="MemeApp">
<head>
	<title>
		Create Memes
	</title>
	<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
	<!-- <link rel="stylesheet" type="text/css" href="public/css/font-awesome/css/font-awesome.css"> -->
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<link rel="stylesheet" type="text/css" href="public/js/social/angular-social.css">
	<link rel="stylesheet" type="text/css" href="public/js/social/angular-social.css">
	<link rel="stylesheet" type="text/css" href="public/css/slide.css">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="assets/css/colorpicker.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/jquery.qtip.min.css">
	<link rel="stylesheet" type="text/css" href="node_modules/guillotine/css/jquery.guillotine.css">

</head>
<body ng-controller="CreateMemeController">
	<div class="meme-header"><img src="assets/img/sdm-logo.svg" class="sdm-logo"><div class="header-link"><a href="/create" class="create-link">Create meme</a><a href="/memes" class="browse-link">Browse</a><hr></div></div>
	<div id="outer-box" class="outer-box">
		<div class="overlay" id="overlay" ng-show="OverlayVisible">
			<div id="progress" class="hidden">
				<div class="section-progress">
				    <div class="progress progress-striped">
				      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
				        <span class="sr-only">0% complete</span>
				      </div>
				    </div>
				    <h3 class="text-center">uploading...</h3>
				</div>
			</div>
			<div ng-show="showBrowseImgDialog" class="browse-images">
				<i class="fa fa-close fa-2x close-button" ng-click="hideImgSelector()"></i>
				<div class="upload-img">
					<h1 onclick="document.getElementById('file-upload').click()"><i class="fa fa-picture-o"></i>&nbsp;click to add your own image</h1>
				</div>
				<input type="file" id="file-upload" name="file" type="file" ng-file-select="onFileSelect($files, item)" style="display:none;" single>
				<div class="select-img">
					<div class=" container lightbox open" id="searchDialog" ng-controller="searchCtrl">
						<div class="search-header">
							<!--h1>search</h1-->
							<form class="form-horizontal">
								<div class="form-group col-lg-12 col-xs-12 col-md-12 has-feedback">
									<div class="controls">
										<input ng-model="searchStr" ng-change="updateResults(searchStr)" class="search-input" type="text" data-tour-id="searchinput" autocomplete="off" id="q" name="q" placeholder="start typing..." autofocus>
										<i id="search-feedback" class="fa fa-search form-control-feedback"></i>
									</div>
								</div>
							</form>	
						</div>
						<p class="correctionHint hide results-message">
							<span class="">DID YOU MEAN</span>
							<span class="correctionString"></span>
						</p>
						<p class="results-message" ng-if="showNoResults">sorry, we have no items in our stock for your query</p>
						<div class="horizontalContent" id="searchResults">
							<div class="itemsContainer">
								<div ng-if="results" style="display:block;width: 160px; height:160px;float:left" ng-repeat="img in results" class="shadow">
									 <div class="media">
						                    <a class="pull-left results-body-pic" ng-click="selectImg(img.path)">
						                        <img src=" {{ img.path }}" width="100%" height="100%"/>
						                    </a>
						                </div>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="showSaveFormDialog" class="save-form">
				<div class="col-md-12 create-slide-form form-signin">
					<i class="fa fa-close fa-2x close-button" ng-click="hideSaveMemeSelector()"></i>
					<form name="createMemeForm" role="form" method="post" ng-submit="submitSlideForm($event)" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-parse">
						<input class="slide-input slide-heading ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength ng-valid-maxlength ng-valid-parse" id="slide-heading" type="text" autocomplete="off" ng-model="memeObj.title" name="title" placeholder="enter a title" required="" ng-minlength="6" ng-maxlength="48" tabindex="0" aria-required="true" aria-invalid="true" ng-change="$scope.$parent.checkTitleErr()"/>
						<div class="alert alert-danger ng-hide" ng-show="showTitleRequired" aria-hidden="true">please enter title</div>
						<div class="alert alert-danger ng-hide" ng-show="createMemeForm.title.$error.minlength" aria-hidden="true">too short title</div>
						<div class="alert alert-danger ng-hide" ng-show="createMemeForm.title.$error.maxlength" aria-hidden="true">too long title</div>
						<div class="alert alert-danger ng-binding ng-hide" ng-show="invalidCredentials" aria-hidden="true"></div>
						<div class="slide-tags">
							<!-- ngRepeat: tag in tagSelected -->
							<span class="color-6" ng-repeat="tag in tagSelected">
								<span class="tag-name">{{ tag }}&nbsp;<i class="fa fa-times tag-remove" ng-click="removeTag(tag)"></i></span>
							</span>
						</div>
						<input id="slide-tags" class="slide-input ng-pristine ng-untouched ng-valid" autocomplete="off" name="enter tags" placeholder="tags" ng-model="tagInput" ng-keyup="getTags()" value="" tabindex="0" aria-invalid="false">
						<div class="alert alert-danger relative ng-hide" ng-show="invalidTag" aria-hidden="true">tag can be only alphanumeric</div>
						<ul class="ul-tags" ng-if="showTags">
							<li ng-click = "addTag(tagInput)">add "{{ tagInput }}"</li>
							<li ng-repeat = "tag in tagResults" ng-click="selectTag(tag)">{{ tag.name }}</li>
						</ul>
						<!-- ngIf: showTags -->
						<input type="hidden" name="tags" value="">
						<div class='checkbox-center'><input style="margin: 0 5px" type="checkbox" name="vehicle" ng-model="privateSavedImg" ng-change="abcd()">This is my private picture, do not save<br></div>
						<input class="btn btn-default btn-ok pull-right" type="submit" value="{{saveMsg}}" ng-click="saveFormNext()">
						<div class="alert alert-danger ng-hide" ng-show="memeTitleReqErr" aria-hidden="true">Meme title required</div>
						<div class="alert alert-danger ng-hide" ng-show="memeTagsReqErr" aria-hidden="true">Meme tags required</div>
					</form></div>
				</div>
			</div>
			<div id="menu-items" class="menu-items inner-box">
				<div class="selectors">
					<div class="select-theme" ng-click="selectMemeTheme(0)" ng-class="{'selected-theme': selectedTheme == 0}">
						<div class="title first-title"></div>
					</div>
					<div class="select-theme" ng-click="selectMemeTheme(1)" ng-class="{'selected-theme': selectedTheme == 1}">
						<div class="title second-title"></div>
					</div>
					<div class="select-theme selected" ng-click="selectMemeTheme(2)" ng-class="{'selected-theme': selectedTheme == 2}">
						<div class="title first-title"></div>
						<div class="title second-title"></div>
					</div>
				</div>
				<div class="color-pickers">
					<div class="picker-box bgcolor" colorpicker="rgba" title="Select background color" ng-model="bgcolor" ng-style="{'background-color':bgcolor}"></div>
					<div class="picker-box fgcolor" colorpicker="rgba" title="Select foreground color" ng-model="fgcolor" ng-style="{'background-color':fgcolor}"> </div>	
				</div>
				<div class="text-sizers">
					<div class="sizer-box smaller" title="Decrease text size" ng-click="decreaseTextSize()">T</div>
					<div class="sizer-box larger" title="Increase text size" ng-click="increaseTextSize()">T</div>
				</div>
			</div>
			<div id="meme-img-holder" class="meme-img-holder inner-box">
				<i class="fa fa-picture-o fa-2x close-button" ng-click="showImgSelector()" style='color: #1E90FF; box-shadow: 0px 0px 20px #fff; top:5px;' ng-if='imageUrl' title="Select another image"></i>
				<img id="thepicture">
				<div select-on-click class="text-box text-box-1 text-box-border" ng-show="showText1" class="text-input" innerhtml contenteditable="true" ng-model="memeContent.Text1" ng-bind-html="memeContent.Text1 | unsafe">Enter Top Text</div>
				<div ng-show="!imageUrl" class="img-bkg" ng-click="showImgSelector()">
					<i class="fa fa-picture-o fa-5x"></i>
					<h2>Click to add Image</h2>
					<div class="alert alert-danger" ng-show="errors.image.show">{{errors.image.text}}</div>
				</div>
				<div select-on-click class="text-box text-box-2 text-box-border" ng-show="showText2" class="text-input" innerhtml contenteditable="true" ng-model="memeContent.Text2" ng-bind-html="memeContent.Text2 | unsafe">Enter Bottom Text</div>
				<div id="watermark" class="watermark invisible">
					<img src="assets/img/created-using.svg">
				</div>
			</div>
			<div id="form-options" class="meme-form-options inner-box text-center">
				 <div id="controls" class="">
			      <a href="#" id="rotate_left" title="Rotate left"><i class="fa fa-rotate-left"></i></a>
			      <a href="#" id="zoom_out" title="Zoom out"><i class="fa fa-search-minus"></i></a>
			      <a href="#" id="fit" title="Fit image"><i class="fa fa-arrows-alt"></i></a>
			      <a href="#" id="zoom_in" title="Zoom in"><i class="fa fa-search-plus"></i></a>
			      <a href="#" id="rotate_right" title="Rotate right"><i class="fa fa-rotate-right"></i></a>
			    </div>
			   	<span class="btn btn-default btn-ok" ng-click="askForDetails()">Save and share</span>
			 </div>
				
				
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="public/js/jquery/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="node_modules/guillotine/js/jquery.guillotine.min.js"></script>
<script type="text/javascript" src="public/js/angular.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-colorpicker-module.min.js"></script>
<script type="text/javascript" src="public/js/angular-file-upload-shim.min.js"></script>
<script type="text/javascript" src="public/js/angular-file-upload-shim.min.js"></script>
<script type="text/javascript" src="public/js/angular-file-upload.min.js"></script>
<script type="text/javascript" src="public/js/ngProgress.min.js"></script>
<script type="text/javascript" src="public/js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="public/js/html2canvas.min.js"></script>
<!-- <script type="text/javascript" src="node_modules/rasterizehtml/dist/rasterizeHTML.allinone.js"></script> -->



<script type="text/javascript">
$(document).ready(function()
 {	
 	$('[title!=""]').qtip({style : {classes: 'qtip-blue qtip-rounded'}});
    $('#thepicture').qtip({
         content: 'Drag to reposition image',
         position: {
             target: 'mouse', // Track the mouse as the positioning target
             adjust: { x: 5, y: 5 } // Offset it slightly from under the mouse
         },
         style: {
         	classes: 'qtip-blue qtip-rounded'
         }
     });
 });

var ApiPrefix = '';
var MemeApp = angular.module('MemeApp', ['angularFileUpload', 'ui.router', 'ngProgress', 'colorpicker.module']);
MemeApp.directive('innerhtml', function() {
	return {
		restrict: 'A',
		require: '?ngModel',
		link: function(scope, element, attrs, ngModel) {
			if (!ngModel) return;
			ngModel.$render = function() {
				element.html(ngModel.$viewValue || '');
			};
			element.on('blur keyup change', function() {
				scope.$apply(read);
			});
			read();

			function read() {
				var html = element.html();
				if (attrs.stripBr && html == '<br>') {
					html = '';
				}
				ngModel.$setViewValue(html);
			}
		}
	};
});
</script>

<script type="text/javascript" src="public/app/services/TagService.js"></script>
<script type="text/javascript" src="public/app/services/SearchService.js"></script>
<script type="text/javascript" src="public/app/controllers/SearchController.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>

</html>