html{
	font-size: 100%;
}
body{
    font-family: "acne","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #424242;
    -webkit-font-smoothing: antialiased;
}
.meme-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 95px;
    padding: 10px;
    font-family: "acne","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    color: #424242;
    background-color: #fff;
    box-shadow: 0px 1px 5px #ddd;
    -webkit-font-smoothing: antialiased;
}
.header-link {
    position: relative;
    height: 20px;
    width: 100%;
    top: -55px;
    left: 160px;
}
.header-link .create-link, .header-link .browse-link:hover, .header-link:hover .browse-link{
    color: #ed1c24;
}
.header-link .browse-link, .header-link .create-link:hover, .header-link:hover .create-link{
    color: #00adef;
}
.create-link{
    margin: 0 10px;
    font-family: "acne","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
}
.meme-header .sdm-logo{
    width: 150px;
}
.meme-header hr {
    width: 200px;
    position: absolute;
    left: -5px;
    top: 15px;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(237, 28, 36, 0.8), rgba(0, 173, 239, 0.8), rgba(0, 0, 0, 0));
    height: 1px;
    margin: 0.5em auto;
}
.header-link:hover hr{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 173, 239, 0.8), rgba(237, 28, 36, 0.8), rgba(0, 0, 0, 0));
}
.img-bkg {
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 40%;
	cursor: pointer;
	color: #00adef;
}
.instructions {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    font-size: 0.8em;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 125px;
    overflow: auto;
}
.instructions p{
    text-align: justify;
}
.instructions h1{
    font-size: 2em;
}
.instructions a{
    margin: 0 1px;
    color: #00adef;
}
.instructions a:hover{
    color: #ed1c24;
}
.instructions ul
{
    list-style: initial;
    margin: initial;
    padding: 0 0 0 20px;
    margin-top: 5px;
}

.instructions li
{
    display: list-item;
    list-style-type: disc!important;
    padding: 2px;
}
.outer-box {
	position: absolute;
	top: 260px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 50%;
	height: 60%;
}
.meme-img-holder {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.meme-img{
	border: 3px solid black;
}
/*.meme-img-holder:before {
  display: block;
  content: "";
  padding-top: 75%;
}*/
.text-box {
	position: absolute;
	font-family: Impact;
	font-weight: bold;
	font-size: 5vw;
	max-width: 90%;
	min-width: 30%;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 12px;
	text-align: center;
	font-weight: 600;
	color: #ffffff;
	vertical-align: middle;
	text-shadow: 1px 1px 2px black;	
	text-transform: uppercase;
}
.small-shadow {
	text-shadow: 1px 1px 2px black;	
}
.large-shadow {
	text-shadow: 10px 10px 20px black!important;
}
.text-box-border{
	border: 1px dashed #ccc;
}
.text-box-1 {
	top: 10%
}

.text-box-2 {
	bottom: 10%
}

.selectors {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	margin: auto 10px;
}

.inner-box {
	width: 100%
}



.meme-form-options {
}

.menu-items {
	display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
	background-color: #eeeeee;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-theme {
	margin: 4px;
	position: relative;
	width: 64px;
	height: 48px;
	background: #aaa;
	border: 2px solid #ffffff;
	cursor: pointer
}

.select-theme .title {
	position: absolute;
	text-align: center;
	width: 80%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #3c3c3c;
	height: 10px;
	border: 1px solid #eee
}

.select-theme.selected-theme {
	border: 2px solid #3c3c3c
}

.selected-theme:after {
	display: block;
	content: "";
	background-color: #00adef;
	opacity: 0.6;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.first-title {
	top: 12%
}

.second-title {
	bottom: 12%
}
.browse-images{
	width: 96%;
	height: 96%;
	position: relative;
	top: 2%;
	left: 2%;
	background-color: #fff;		
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}
.select-img{
	width: 100%;
	height: 80%;
	overflow: auto;
}
.upload-img{
	width: 100%;
	background-color: white;
}
.upload-img h1{
	cursor: pointer;
    border-bottom: 1px solid #dddddd;
    transition: 0.2s linear all;
    width: 450px;
    padding: 12px !important;
    margin: 0 auto;
    
}
.upload-img h1:hover{
	border-bottom: 1px solid #eeeeee;
	box-shadow: 0px 2px 2px 2px #dddddd;
	
}
.close-button{
	position: absolute;
	top: 2px;
	right: 6px;
	cursor: pointer;
	z-index: 10;
}
.browse-images h1{
	text-align: center;
	padding: 4px;
}
.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none;
}
.fa-picture-o.fa-2x.close-button.invisible{
	display: none;
}
.visible{
	display: block;
}
#controls {
	background-color: #1b1b1b;
	text-align: center
}
#controls a {
	display: inline-block;
	padding: 0 5%;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	font-weight: 300;
	color: #888
}
#controls a:hover {
	color: #fff;
	text-decoration: none
}
.picker-box{
	position: relative;
	width: 20px;
	height: 20px;
	border: 1px solid white;
	box-shadow: 1px 1px 1px #888888;
	cursor: pointer;
}
.picker-box:hover{
	border: 1px solid black;
}
.bgcolor{
	top: 8px;
	left: 8px;
}
.fgcolor{
	top: 0;
	left: 0;
	box-shadow: 1px 1px 2px #888888;
}
.color-pickers{
	width: 40px;
	height: 48px;
	margin: auto 20px;
}
.text-sizers{
	position: relative;
	margin: auto 20px;
}
.sizer-box {
    position: relative;
    width: 35px;
    height: 17px;
    cursor: pointer;
    /*background-color: rgba(255,0,0,0.4);*/
    text-align: right;
    z-index: 11;
    font-size: 1em;
    color: #848484;
}
.sizer-T {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 34px;
    font-size: 24px;
    /*background-color: yellow;*/
    padding: 3px;
    z-index: 10;
    color: #424242;
}
.larger:hover{
	font-size: 1.1em;
	color: #424242;
}
.smaller:hover{
	font-size: 0.9em;
	color: #424242;
}
.checkbox-center{
	text-align: center;
	margin-top: 10px;
	line-height: 90%;
}
.watermark {
    width: 2000px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.watermark.invisible{
	display: none;
}
.upload-msg.invisible{
	display: none;
}
.watermark img{
	width: 2000px;
}
.upload-msg{
	position: absolute;
	top: 20%;
	left:0;
	right: 0;
	margin: 0 auto;
	font-size: 2em;
	font-size: 2vw;
	text-align: center;
	color: #ed1c24;
	/*text-shadow: 1px 1px 2px white;*/
}
.fb-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    opacity: 1;
    z-index: 999;
}
.fblogin {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 1em;
    padding: 20px;
    background-color: #fff;
    color: #424242;
    z-index: 100;
    width: 600px;
    height: 200px;
    box-shadow: 2px 2px 10px #111;
}
.fblogin a{
	color: white;
	margin-top: 10px;
}
div#login-info {
    position: fixed;
    right: 0px;
    top: 0px;
}
.login-info .fb-photo{
	left: 10px;
	top: 10px;
	position: relative;
	border: 1px solid #ed1c24;
	background-size: cover;
	background-position: 50% 50%;
	width : 50px;
	height : 50px;
	border-radius: 50%;
	transition: all 0.2s ease;
}
.save-form h2 {
    font-size: 2em;
    font-weight: 200;
    color: #00adef;
}
.login-info:hover .fb-photo, .login-info:focus .fb-photo{
	border: 1px solid #00adef;
}
.loggedIn{
	width: 70px;
	height: 70px;
	display: block;
	position: relative;
    top: 0;
    left: 0;
	transition: all 0.2s ease;
}
.loggedInFull{
	width: 160px;
    height: 100px;
    display: block;
    padding: 0 10px;
}
.vertical-1 {
    width: 70px;
    display: inline-block;
    /*background-color: blue;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 70px;
}
.loggedInFull .vertical-1 {
    width: 60px;
}
.loggedInFull .fb-photo{
	width: 40px;
	height: 40px;
}
.loggedInFull .user-items{
	opacity: 1;
	left: 60px;
	top: 0;
	transition: all 0.2s ease 0.2s;
}
.user-items{
	opacity: 0;
	width: 100px;
	padding-top: 15px;
	height: 100px;
	display: inline-block;
	position: absolute;
	left: 100px;
	top: 0;
	transition: all 0.2s ease 0s;
}
.user-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.user-items li {
    padding: 5px;
    font-size: 1em;
    background-color: #eee;
    cursor: pointer;
    margin-bottom: 2px; 
}
.user-items li:hover {
    background-color: #aaa;
}
.login-button{
	font-size: 1em;
	cursor: pointer;
	position: relative;
    top: 27px;
    right: 10px; 
    color: #424242;
    text-decoration: none;
}
.login-button:hover, .login-button:focus{
	color: #00adef;
}